.container{
    background-color: #f9f9f9;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 4px;
    height: 95vh;
    overflow:hidden;
}

.stats{
    height: 25vh;
}

.online-list{
    height: 70vh;
    overflow-y: auto;
}