<hr class="m-0">
<div class="container">
    <div class="row align-items-center">

            <div class="col-10 m-0 p-0 col-md-11">
                <textarea class="m-0" id="writing" placeholder="write your massage..."></textarea>
            </div>

            <div class=" col-2 col-md-1">
                <button type="button" form="writing-form" (click)="onSendMessage()" class="btn btn-secondary m-0"><i class="fas fa-arrow-alt-circle-right"></i></button>
            </div>
        
    </div>
</div>
